Repository jhousteau/genesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todos, hardcoded-values-check, variable-defaults-check

no-todos:
  name: Block TODO/FIXME/HACK items
  description: Prevents TODO, FIXME, and HACK comments from being committed
  ...

hardcoded-values-check:
  name: Check for hardcoded configuration values
  description: Prevents hardcoded configuration values from being committed
  entry: ./scripts/find-hardcoded-values.sh
  language: script
  pass_filenames: false

variable-defaults-check:
  name: Check for variable default assignments
  description: Prevents hardcoded variable defaults from being committed
  entry: ./scripts/check-variable-defaults.sh
  language: script
  pass_filenames: false

feat: Implement comprehensive code quality enforcement system
  docs/config/PROJECT_INDEX.json
Due: none

fix: Remove hardcoded defaults and fix all linting errors
  .pre-commit-config.yaml
  .tflint.hcl
  genesis/cli.py
  genesis/commands/bootstrap.py
  genesis/commands/version.py
  genesis/core/autofix/convergence.py
  genesis/core/autofix/detectors.py
  genesis/core/autofix/fixer.py
  genesis/core/autofix/stages.py
  genesis/core/config.py
  genesis/core/constants.py
  genesis/core/context/manager.py
  genesis/core/errors/handler.py
  genesis/core/logger.py
  genesis/core/retry.py
  genesis/core/version.py
  genesis/testing/ai_safety.py
  smart-commit/src/smart-commit.sh
  smart-commit/tests/test_smart_commit.py
  testing/fixtures/mock_commands.py
  testing/fixtures/mock_filesystem.py
  testing/tests/test_ai_safety.py
  testing/tests/test_integration.py
  tests/test_circuit_breaker.py
  tests/test_hardcoded_detection.py
Due: no-todos, hardcoded-values-check, variable-defaults-check

chore: remove alpha suffix from version numbers
  config/genesis.yml
  pyproject.toml
Due: none

feat: add branch/PR automation to smart-commit
  smart-commit/src/smart-commit.sh
Due: none

fix: update GitHub Actions to use upload-artifact@v4
  .github/workflows/genesis-cli-comprehensive-testing.yml
Due: none

test template updates
  .gitignore
  pyproject.toml
  smart-commit/src/smart-commit.sh
  templates/python-api/tests/test_main.py.template
  templates/terraform-project/.gitignore.template
Due: none

fix: resolve CI/CD workflow failures and add missing documentation
  .github/workflows/ci.yml
  .github/workflows/genesis-cli-comprehensive-testing.yml
  .github/workflows/security-scan.yml
  terraform/modules/bootstrap/README.md
  terraform/modules/project-setup/README.md
  terraform/modules/service-accounts/README.md
  terraform/modules/state-backend/README.md
Due: none

chore:autofix in the cli
  genesis/cli.py
  genesis/core/autofix/stages.py
  testing/tests/test_integration.py
Due: no-todos, hardcoded-values-check, variable-defaults-check

final commit
  .envrc
  genesis/cli.py
  genesis/commands/bootstrap.py
  scripts/check-file-organization.sh
  smart-commit/src/smart-commit.sh
  tests/conftest.py
Due: no-todos, hardcoded-values-check, variable-defaults-check

test final please
  .envrc
  smart-commit/src/smart-commit.sh
  tests/conftest.py
Due: hardcoded-values-check, variable-defaults-check

bug fixes before test rework
  .envrc
  Makefile
  bootstrap/src/bootstrap.sh
  genesis/cli.py
  pyproject.toml
  pytest.ini
  scripts/check-file-organization.sh
  smart-commit/src/smart-commit.sh
  templates/python-api/README.md.template
  templates/python-api/pyproject.toml.template
  test_worktree_cli.py
  worktree-tools/src/create-sparse-worktree.sh
Due: no-todos, hardcoded-values-check, variable-defaults-check

added worktree back to the cli
  genesis/cli.py
  genesis/commands/worktree.py
Due: no-todos, hardcoded-values-check, variable-defaults-check

feat: Remove hardcoded defaults and enforce fail-fast configuration
  CLAUDE.md
  pyproject.toml
  scripts/validate-components.sh
  shared-python/.gitignore
  shared-python/README.md
  shared-python/pyproject.toml
  shared-python/src/shared_core/__init__.py
  shared-python/src/shared_core/config.py
  shared-python/src/shared_core/context.py
  shared-python/src/shared_core/errors.py
  shared-python/src/shared_core/health.py
  shared-python/src/shared_core/logger.py
  shared-python/src/shared_core/retry.py
  shared-python/tests/test_config.py
  shared-python/tests/test_health.py
  shared-python/tests/test_logger.py
  shared-python/tests/test_retry.py
  shared-typescript/README.md
  shared-typescript/package-lock.json
  shared-typescript/src/index.ts
  testing/tests/test_integration.py
Due: no-todos, hardcoded-values-check, variable-defaults-check

feat: Remove hardcoded defaults and enforce fail-fast configuration
  Makefile
  docs/guides/sparse-worktrees.md
  scripts/check-file-organization.sh
  smart-commit/src/smart-commit.sh
  test-project/.bandit
  test-project/.claude/hooks/update-docs.py
  test-project/.claude/settings.json
  test-project/.env.example
  test-project/.envrc
  test-project/.flake8
  test-project/.gitattributes
  test-project/.github/workflows/release.yml
  test-project/.gitignore
  test-project/.gitleaks.toml
  test-project/.markdownlint.json
  test-project/.pre-commit-config.yaml
  test-project/.pylintrc
  test-project/CHANGELOG.md
  test-project/CLAUDE.md
  test-project/Makefile
  test-project/README.md
  test-project/config/README.md
  test-project/docs/CLAUDE.md
  test-project/docs/README.md
  test-project/docs/architecture/CLAUDE.md
  test-project/docs/releases/README.md
  test-project/docs/releases/v0.1.0.md
  test-project/docs/standards/CLAUDE.md
  test-project/docs/vision/CLAUDE.md
  test-project/pyproject.toml
  test-project/scripts/README.md
  test-project/setup.sh
  test-project/src/test_project/__init__.py
  test-project/src/test_project/main.py
  test-project/tests/test_main.py
Due: hardcoded-values-check, variable-defaults-check

added worktree creation
  docs/architecture/worktree-strategy.md
  docs/guides/sparse-worktrees.md
  shared-resources.manifest
  test-worktree.sh
  worktree-tools/src/create-sparse-worktree.sh
  worktree-tools/templates/docs-claude.md.template
  worktree-tools/templates/docs-readme.md.template
Due: none

Path conditions:
  no-todos: any of: \.(py|ts|tsx|js|jsx|go|tf)$ and not (test.*|.*_test\.(py|ts|tsx|js|jsx|go)$|\.git/|node_modules/|\.venv/|\.next/|dist/|build/|__pycache__/) and not ((?x)^(
  \.git/.*|
  \.devcontainer/.*|
  \.vscode/.*|
  \.idea/.*|
  build/.*|
  tmp/.*|
  workspace/.*|
  dev-workspace/.*|
  test-workspace/.*|
  \.gcloud/.*|
  gcloud-config/.*|
  monitoring-data/.*|
  test-results/.*|
  security-reports/.*|
  \.terraform/.*|
  terraform\.tfstate.*|
  \.terragrunt-cache/.*|
  .*\.bak|
  .*\.backup|
  .*-backup-.*|
  intelligence/smart-commit/htmlcov/.*
)$
)
  hardcoded-values-check: any of: \.(py|ts|tsx|js|jsx)$, but not: (?x)^(
  \.git/.*|
  \.devcontainer/.*|
  \.vscode/.*|
  \.idea/.*|
  build/.*|
  tmp/.*|
  workspace/.*|
  dev-workspace/.*|
  test-workspace/.*|
  \.gcloud/.*|
  gcloud-config/.*|
  monitoring-data/.*|
  test-results/.*|
  security-reports/.*|
  \.terraform/.*|
  terraform\.tfstate.*|
  \.terragrunt-cache/.*|
  .*\.bak|
  .*\.backup|
  .*-backup-.*|
  intelligence/smart-commit/htmlcov/.*
)$

  variable-defaults-check: any of: \.(py|ts|tsx|js|jsx)$, but not: (?x)^(
  \.git/.*|
  \.devcontainer/.*|
  \.vscode/.*|
  \.idea/.*|
  build/.*|
  tmp/.*|
  workspace/.*|
  dev-workspace/.*|
  test-workspace/.*|
  \.gcloud/.*|
  gcloud-config/.*|
  monitoring-data/.*|
  test-results/.*|
  security-reports/.*|
  \.terraform/.*|
  terraform\.tfstate.*|
  \.terragrunt-cache/.*|
  .*\.bak|
  .*\.backup|
  .*-backup-.*|
  intelligence/smart-commit/htmlcov/.*
)$

